body {
  margin:0;
  padding:0;
}

#left-panel {
  position:absolute;
  left:0;
  background: #CF6;
/*  border: 1px solid red;*/
}

#right-panel {
  position:absolute;
  right: 0;
  background: #6FC;
}

#goal-panel, #message-panel {
  background: #fff;
  padding-left: 3px;
}

#vsep, #hsep {
  position:absolute;
  background: #999;
  z-index: 3;
}