*~
*.byte
*.cmi
*.cmo
*.cmt
*.cmti
.AppleDouble
coq-js/jscoq_worker.js
coq-tools/mklibfs
coq-tools/mklibjson
coq-pkgs/
local/
dist/
dist-hott/
index.html
Makefile.libs
coq-external/
node_modules/
_build
.merlin
*.install
