# General ignores
*~
.*.swp
.cache
/dist

# Local build configuration file
/config.inc

# Externals
/_vendor*

# Dune stuff
_build
.merlin
*.install

# Node stuff
node_modules
# - npm packages
/*.tgz

# Links for in-place serving
coq-pkgs
/coq-js/jscoq_worker.bc.cjs

# Apple stuff
.DS_Store
.AppleDouble

