# General ignores
*~
.*.swp
.cache
/dist
/bin

# Local build configuration file
/config.inc

# Externals
/_vendor*

# Dune stuff
_build
.merlin
*.install

# Node, yarn stuff
node_modules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
# - npm packages
/*.tgz

# Links for in-place serving
coq-pkgs
/backend/jsoo/jscoq_worker.bc.cjs
/backend/wasm/wacoq_worker.bc
*.wasm

# Apple stuff
.DS_Store
.AppleDouble

