@import "./components/file-list.css";


/* Panel layout */

#outline-pane {
    width: 15%;
    min-width: 90px;
    height: 100%;
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
    transition: width 0.2s ease-in-out;
}
.project-panel {
    height: 100%;
}
.project-panel > .file-list {
    border-right: 1px solid #ddd;
    flex-basis: 1px;
    flex-grow: 1;
    overflow: auto;
}
.vertical-pane {
    display: flex;
    flex-direction: column;
}
.vertical-pane.left {
    padding-right: 5px;
}
.vertical-pane.right {
    padding-left: 5px;
}

.vertical-pane.draghov {
    background: #e4e4ff;
}

/* Toolbar styles */

.project-panel .toolbar {
    min-height: 20px;
}

.project-panel button:disabled {
    color: gray;
}

.project-panel .build-status {
    font-size: 70%;
    vertical-align: middle;
    letter-spacing: 2px;
    color: #666;
}

/* Context menu */

.project-context-menu {
    float: right;
    line-height: 1px;
}
.project-context-menu button {
    border: none;
    height: 20px;
    width: 20px;
    padding: 5px;
}
.project-context-menu button svg {
    height: 100%;
    vertical-align: top;
}
.project-context-menu button svg rect {
    fill: #888;
}
.project-context-menu.open button {
    background: #666;
}
.project-context-menu.open button svg rect {
    fill: white;
}

button:focus, button:active {
    outline: none;
}

/* Problem list styles */

.msg-area .Error .error-location {
    margin: 0;
    background: #fff8f8;
    color: #866;
}

ul.problem-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 10pt;
}

ul.problem-list ul.problem-group {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.problem-list ul.problem-group > li {
    padding-left: 16px;
    background: url(../images/log-error.png);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position-y: 2px;
    background-position-x: 1px;
    min-height: 14px;
}
