/* Light mode */

/* Panel/body settings */

body {
    background: #e4e4e4;
}

#document {
    background: #fff;
}

#panel-wrapper {
    background: #fff;
}

#vsep, #hsep {
  background: #ddd;
}

a, a:link, a:visited, a:active {
  color: #22f;
}

a:hover {
  color: #5af;
}

#toolsbar {
  border-bottom: 1px solid #272727;
}

#goal-text {
    background-color: #FFF;
    /* color: #FFF; */
}

/* Coq settings */

.coq-eval-ok {
  background: rgba(0,0,0,0.15);
}

.coq-eval-ok.highlight {
  background: #ada;
}
  
.coq-eval-pending {
    background: #fc6;
}

.coq-eval-failed {
    background: rgba(255, 00, 50, 0.4);
}

.coq-eval-ok.CodeMirror-selectedtext,
.coq-eval-pending.CodeMirror-selectedtext,
.coq-eval-failed.CodeMirror-selectedtext {
    background: none;
}

.coq-eval-ok.highlight.CodeMirror-selectedtext {
    background: #aee; 
}


/* Normal theme settings */

.cm-s-default.CodeMirror {
    background: #f1f1f1;
}

/* Vernaculars */
.cm-builtin {
  color: #00FFFF;
}

.cm-comment {
  color: #a50;
}

.cm-variable {
  color: #000;
}

.cm-operator {
  color: #000;
}

/* Tactics */
.cm-keyword {
  color: #98FB98;
}

.cm-tactic {
  color: #0011FF;
}

.cm-terminator {
  color: #FF0000;
}

.cm-s-default .cm-bullet,
.cm-s-default .cm-brace,
.cm-s-default .cm-bracket {
  /* background: bisque; */
  color: red;
}

div.CodeMirror span.CodeMirror-matchingbracket {
  color: #939;
  outline: 1px solid rgba(200, 0, 0, 0.3);
  outline-offset: -1px;
  text-shadow: 0 -1px #939;
}

/*  */
.cm-statementend {
  /* background: #6C64FE; */
}

/* Generated by coq */
.constr\.evar {
    color: #2002f0;
}
.constr\.keyword {
    color: #11aeea;
}
.constr\.notation {
    color: #dd2222;
}
.constr\.path {
    color: #0e8709;
}
.constr\.reference {
    color: #1433cc;
}
.constr\.type {
    color: #aabb22;
}
.constr\.variable {
    color: #123456;
}
.module\.definition {
    color: #222ddd;
}
.module\.keyword {
    color: #654321;
}
.tactic\.keyword {
    color: #432165;
}
.tactic\.primitive {
}
.tactic\.string {
    color: #99ff99;
}
